<!--Main Navigation-->
<header class="intro-header">


  <!--Intro Section-->
  <section class="view intro-2 rgba-gradient">
    <div class="full-bg-img">
      <div class="container flex-center">
        <div class="row flex-center pt-5 mt-3">
          <div class="col-md-12 text-center text-md-left margins">
            <div class="white-text">
              <h1 class="h1-responsive wow fadeInLeft" data-wow-delay="0.3s">Welcome to Pm2-Monit</h1>
              <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
              <h3 class="wow fadeInLeft" data-wow-delay="0.3s">Overview-Issues-Charts</h3>
              <br>
              <a  mdbBtn color="white" outline="true" class="wow fadeInLeft" data-wow-delay="0.3s" class="color" title = "README"href="https://github.com/oguzhanmemis7849/pm2-monit#readme">Learn more</a>

            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</header>
<!--Main Navigation-->

<!--Main Layout-->
<main>

  <div class="container">

    <!--Grid row-->
    <div class="row py-5">

      <!--Grid column-->
      <div class="col-md-12 text-center">

        <p>
          This website is implemented in Angular and NodeJs </p>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>

</main>
<!--Main Layout-->
