<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a style="margin-left: 10vh;" href="#" class="navbar-brand">PM2</a>
    <div class="navbar-nav mr-auto" >
      <li class="nav-item">
        <a routerLink="pm2list" routerLinkActive="active" class="nav-link">Overview</a>
      </li>
      <li class="nav-item">
        <a routerLink="issues" routerLinkActive="active" class="nav-link">Issues</a>
      </li>
      <li class="nav-item">
        <a routerLink="chart" routerLinkActive="active" class="nav-link">Charts</a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>

