  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a style="margin-left: 10vh;" href="#" class="navbar-brand" title = "Home"><mat-icon>home</mat-icon></a>
    <div class="navbar-nav mr-auto" >
      <li class="nav-item">
        <a routerLink="pm2list" routerLinkActive="active" class="nav-link" title = "Overview">Overview</a>
      </li>
      <li class="nav-item">
        <a routerLink="issues" routerLinkActive="active" class="nav-link" title = "Issues">Issues</a>
      </li>
      <li class="nav-item">
        <a routerLink="chart" routerLinkActive="active" class="nav-link" title = "Charts">Charts</a>
      </li>
    </div>
  </nav>
  <div  class="mt-3">
    <router-outlet></router-outlet>
  </div>


