<div class="col-md-12">
  <h1 *ngIf='apps.length > 0' class = "middle"><strong>Active Processes</strong></h1>
  <h1 *ngIf='apps.length == 0' class = "middle"><strong>No Active Processes Yet</strong>  </h1>
  <table class="table" *ngIf="apps.length > 0">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">CPU Usage</th>
        <th scope="col">Memory Usage</th>
        <th scope="col">Computer</th>
        <th scope="col">Unique ID</th>
        <th scope="col">Created at</th>
        <th scope="col">Uptime</th>
        <th scope="col">Restart Count</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of apps">
        <th scope="row">{{ item.pm_id }}</th>
        <td>{{ item.name }}</td>
        <td [ngClass]="item.status == 'online' ? 'green' : 'red'">
          {{ item.status }}
        </td>
        <td>{{ item.cpu_usage }}</td>
        <td>{{ item.memory_usage }}</td>
        <td class="singleLine">{{ item.computer_name }}</td>
        <td class="singleLine">{{ item.unique_id }}</td>
        <td class="singleLine">{{ item.created_at }}</td>
        <td class="singleLine">
          <b>{{ item.pm_uptime }}</b>
        </td>
        <td>{{ item.restart_time }}</td>
        <td class="row">
          <div class="col-md-3">
            <button
              class="btn btn-outline-warning btn-sm"
              type="button"
              (click)="appRestart(item.name)"
              data-toggle="tooltip"
              data-placement="top"
              title="Restart"
            >
              <mat-icon aria-hidden="false">refresh</mat-icon>
            </button>
          </div>

          <div class="col-md-3">
            <button
              class="btn btn-outline-secondary btn-sm"
              type="button"
              (click)="
                triggerModal(modalDataOut);
                appOutlogTrue(item.pm_id);
                consoleLog = []
              "
              data-toggle="tooltip"
              data-placement="top"
              title="Out Logs"
            >
              <mat-icon aria-hidden="false">text_snippet</mat-icon>
              <ng-template #modalDataOut let-modal>
                <div class="modal-header">
                  <strong>
                    <p class="modal-title" id="modal-basic-title">Out Logs</p>
                  </strong>
                  <button
                    type="button"
                    class="close"
                    aria-label="Close"
                    (click)="
                      modal.dismiss('Cross click'); appOutlogFalse(item.pm_id)
                    "
                  >
                    <span aria-hidden="true">X</span>
                  </button>
                </div>
                <div
                  class="modal-body"
                  style="overflow-y: scroll; max-height: 50vh; min-height: 50vh"
                >
                  <p *ngIf="consoleLog.length > 0">
                    <span
                      ><p *ngFor="let item of consoleLog">
                        <strong>{{ item.time }}</strong> : {{ item.data }}
                      </p></span
                    >
                  </p>
                  <p *ngIf="consoleLog.length == 0">No logs yet.</p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="
                      modal.close('Save click'); appOutlogFalse(item.pm_id)
                    "
                  >
                    Close
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="consoleLog = []"
                  >
                    Clear
                  </button>
                </div>
              </ng-template>
            </button>
          </div>

          <div class="col-md-3">
            <button
              class="btn btn-outline-danger btn-sm"
              type="button"
              (click)="appDelete(item.pm_id)"
              data-toggle="tooltip"
              data-placement="top"
              title="Delete"
            >
              <mat-icon aria-hidden="false">delete </mat-icon>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
