.vertical-menu {
  width: max; /* Set a width if you like */
}

.vertical-menu a {
  background-color: #f8f9fa; /* Gray background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 10px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark gray background on mouse-over */
}

.vertical-menu a.active {
  background-color:#212529!important;
  color: white;
}

.middle{
  text-align:center; /* Text is average */
}

.active {
  background:rgb(221, 221, 221);
}

