<div class="container row">
<div class="vertical-menu col-md-3">
  <a class="middle active">Processes</a>
  <button
    [class.active]="selectedId == item.pm_id"
    class="middle btn btn-light btn-sm col-md-12"
    *ngFor="let item of apps"
    type="button"
    data-toggle="tooltip"
    data-placement="top"
    (click) = "getChart(item.pm_id); show = true;"
    title="{{item.name}}"
  >

    <p>{{ item.name }}</p>
  </button>
  </div>


<div *ngIf="show" class = "col-md-5">
  <highcharts-chart
     [(update)]="updateFlag"
     [Highcharts] = "highcharts"
     [options] = "chartCPU"
     style = "width: 500px; height: 300px; display: block;">
  </highcharts-chart>
  </div>


<div *ngIf="show" class="middle">
  <highcharts-chart
    [(update)]="updateFlag"
    [Highcharts] = "highcharts"
    [options] = "chartMemory"
    style = "width: 100%; height: 400px; display: block;">
  </highcharts-chart>
</div>
</div>
