<div class="row">
  <div class="vertical-menu col-md-3">
    <a class="middle active">Processes</a>
    <button
      [class.active]="selectedId == item.pm_id"
      class="middle btn btn-light btn-sm col-md-12"
      *ngFor="let item of apps"
      type="button"
      (click)="appErrLogTrue(item.pm_id); consoleErr = []"
      data-toggle="tooltip"
      data-placement="top"
      title="{{ item.name }}"
    >
      <p>{{ item.name }}</p>
    </button>

    <button
      type="button"
      class="btn btn-primary col-md-12"
      (click)="consoleErr = []"
    >
      Clear
    </button>
  </div>
  <div class="col-md-9 frame">
    <div>
      <p *ngIf="consoleErr.length > 0">
        <span>
          <p *ngFor="let item of consoleErr">
            <strong>{{ item.time }}</strong> : {{ item.data }}
          </p>
        </span>
      </p>

      <p *ngIf="consoleErr.length == 0">Error not found.</p>
    </div>
  </div>
</div>
